body{
    background: powderblue;
    color: white;
    font: normal 15pt Arial;
    
}

header{
    text-align: center;
}

section{
    background: whitesmoke;
    border-radius: 12px;
    padding: 16px;
    width: 500px;
    margin: auto;

    font-size: 24px;
    text-align: center;
    color: black;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.407) ;
}

div{

}

footer{
    padding: 16px;
    text-align: center;
}