body{
    align-items: center;
    align-content: center;
    flex: content;
    background-color: rgb(58, 160, 255);
    color: white;
    font-weight: 700;
    text-align: center;
}

div{
    color: black;
    background-color: white;
    padding: 24px;
    padding-bottom: 80px;
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    box-shadow: 0 0 16px;
    text-align: center;
}
